/hw/AmigaKeyboardAdapters/StandAlone-Adapter/RetroBitLab.bak
/hw/AmigaKeyboardAdapters/StandAlone-Adapter/RetroBitLab.bck
/hw/AmigaKeyboardAdapters/StandAlone-Adapter/StandAlone-Adapter.bak
/hw/AmigaKeyboardAdapters/StandAlone-Adapter/StandAlone-Adapter.kicad_pcb-bak
/build/
*.DS_Store
/hw/AmigaKeyboardAdapters/A1200-Internal/A1200MPU-Adapter-cache.lib
/stalkb-bootloader/build/
/.project
/.cproject
/hw/AmigaKeyboardAdapters/A1200-Internal/A1200MPU-Adapter.kicad_pcb-bak
/hw/AmigaKeyboardAdapters/A1200-Internal/A1200MPU-Adapter.sch-bak
/hw/AmigaKeyboardAdapters/A1200-Internal/fp-info-cache
/hw/AmigaKeyboardAdapters/A600-Internal/A600MPU-Adapter-rescue.dcm
/hw/AmigaKeyboardAdapters/A600-Internal/A600MPU-Adapter-rescue.lib
/hw/AmigaKeyboardAdapters/A600-Internal/A600MPU-Adapter.sch-bak
