/hw/AmigaKeyboardAdapters/StandAlone-Adapter/AmigaComponents.bak
/hw/AmigaKeyboardAdapters/StandAlone-Adapter/AmigaComponents.bck
/hw/AmigaKeyboardAdapters/StandAlone-Adapter/StandAlone-Adapter.bak
/hw/AmigaKeyboardAdapters/StandAlone-Adapter/StandAlone-Adapter.kicad_pcb-bak
/build/
*.DS_Store
/hw/AmigaKeyboardAdapters/A1200-Internal/A1200MPU-Adapter-cache.lib
/stalkb-bootloader/build/
